.messages {
    padding-bottom: 100px;
  }
  .messages .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EFE9;
    padding-bottom: 100px;
    flex-direction: column;
  }
  .messages .container h2 {
    text-align: center;
    width: 450px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 45px;
  }
  .messages .container .username input {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 1000px;
    height: 50px;
    border: 1px solid #FFFFFF;
    padding-left: 30px;
  }
  .messages .container .username .message-big {
    height: 120px;
  }
  .messages .container .button-mid {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .messages .container .button-mid .btn-yellow {
    width: 1000px;
    text-align: center;
    
  }
  button {
    padding: 0;
    border: none;
    background: none;
  }
  textarea{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 1000px;
    border: 1px solid #FFFFFF;
    padding-left: 30px;
  }