.project-and-case .container .section-title {
    text-align: center;
  }
  .project-and-case .container .project-and-case {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  @media (min-width: 768px) {
    .project-and-case .container .project-and-case {
      grid-template-columns: 1fr 1fr;
    }
  }
  .project-and-case .container .project-and-case article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .project-and-case .container .project-and-case article img {
    width: 100%;
    height: auto;
  }
  .project-and-case .container .project-and-case article img:hover {
    opacity: 0.3;
  }
  .project-and-case .container .project-and-case article h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DAD9D3;
  }
  .project-and-case .container .project-and-case article a {
    padding: 15px;
    display: block;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #191919;
  }
  .project-and-case .container .project-and-case article a i {
    margin-left: 3px;
  }
  .project-and-case .container .center-content {
    margin-top: 50px;
    margin-bottom: 90px;
  }